.wrapper {
  display: flex;
  justify-content: space-between;
}

.todo-list-item {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

}

.icon {
  width: 90px;
  justify-content: space-between;
}

.redcolor {
  color: rgba(214, 18, 18, 0.829);
}

.greencolor {
  color: rgba(6, 163, 6, 0.89);
}

.done {
  text-decoration: line-through;
  text-decoration-color: black;
}

.important {
  color: steelblue;
  font-weight: bold;
}
